{% extends 'base.html' %}

{% block content %}
    <div class="main-img-div">
        <img class="main-img" src="{{ url_for('static', filename='img/worldometerlive.png') }}"/>
    </div>
    <div class="text-center">
        <h1 class='text-center'>{% block title %}Worldometer Live{% endblock %}</h1>
        <h3 class='text-center'><i>kekapi</i></h3>
    </div>
    <div class="introduction">
        <h4><b>Introduction</b></h4>
        <p>Worldometer Live is an API service that scrapes live data from <a href="" target="_blank">https://www.worldometers.info/</a> using Selenium. 
            <br>
            Although Worldometer provides a trove of insightful data, they do not provide an API service for these data. Worldometer Live kicks in by allowing users to query a multitude of worldwide statistics in real time (with a 15 min margin of error). Users can choose to query specific fields, query by categories, or query everything.  
            
        </p>   
    </div>

    <div class="api-endpoints">
        <h4><b>API Endpoints</b></h4>
        <div class="margin-bottom-15">
            <div>
                <p class="api-endpoint-description">Get all live data</p>
                
            </div>
            <hr>
            <div class="card">
                <div class="card-body">
                    <div style="width:75px" type="button" class="btn btn-success"><b>GET</b></div>

                    <span class="api-url"><b>/all</b> </span>
                </div>
            </div>
        </div>
        <div class="margin-bottom-15">
            <div>
                <p class="api-endpoint-description">Get list of fields</p>
                
            </div>
            <hr>
            <div class="card">
                <div class="card-body">
                    <div style="width:75px" type="button" class="btn btn-success"><b>GET</b></div>

                    <span class="api-url"><b>/fields</b> </span>
                </div>
            </div>
        </div>
        <div class="margin-bottom-15">
            <div>
                <p class="api-endpoint-description">Get data by specific field</p>
                
            </div>
            <hr>
            <div class="card">
                <div class="card-body">
                    <div style="width:75px" type="button" class="btn btn-success"><b>GET</b></div>

                    <span class="api-url"><b>/field/{field}</b> </span>
                </div>
            </div>
        </div>
        <div class="margin-bottom-15">
            <div>
                <p class="api-endpoint-description">Get list of categories</p>
                
            </div>
            <hr>
            <div class="card">
                <div class="card-body">
                    <div style="width:75px" type="button" class="btn btn-success"><b>GET</b></div>

                    <span class="api-url"><b>/categories</b> </span>
                </div>
            </div>
        </div>

        <div class="margin-bottom-15">
            <div>
                <p class="api-endpoint-description">Get data by specific category</p>
                
            </div>
            <hr>
            <div class="card">
                <div class="card-body">
                    <div style="width:75px" type="button" class="btn btn-success"><b>GET</b></div>

                    <span class="api-url"><b>/category/{category}</b> </span>
                </div>
            </div>
        </div>

        <p>* replace texts in curly braces &#123&#123&#125&#125 with the relevant parameters</p>
        <p>* base url is the current url of this page</p>


        
        
    </div>
    


{% endblock %}